version: '3'

services:
  postgres:
    image: postgres:9.5.12
    volumes:
      - ./tmp/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    volumes:
      - ./tmp/redis:/data
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    ports:
      # HTTP UI
      - "9000:9000"
    command: server /data
    environment:
      - MINIO_ACCESS_KEY=client
      - MINIO_SECRET_KEY=secret01
      - MINIO_REGION_NAME=us-east-1
  
  couchdb:
    image: couchdb
    volumes:
      - ./tmp/couchdb:/opt/couchdb/data
      - ./tmp/couchdb-etc:/opt/couchdb/etc/local.d
    ports:
      # HTTP UI
      - "5984:5984"
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=secret

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      # HTTP UI
      - "16686:16686"
      # Traces UDP
      - "6831:6831/udp"
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411

  prometheus:
    image: quay.io/prometheus/prometheus:latest
    ports:
     - 9090:9090
    volumes:
     - "./prometheus.yml:/etc/prometheus/prometheus.yml"

  testserver:
    image: "golang:1.21"
    volumes:
      - .:/srv
    working_dir: /srv
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      - ENVIRONMENT=development
      - JAEGER_AGENT_HOST=jaeger
      - JAEGER_SAMPLER_TYPE=const
      - JAEGER_SAMPLER_PARAM=1
      - JAEGER_SERVICE_NAME=testserver
      - SENTRY_RELEASE=HEAD
      - PACE_LIVETEST_INTERVAL=10s
      - LOG_FORMAT=console
      - S3_ENDPOINT=minio:9000
      - S3_ACCESS_KEY_ID=client
      - S3_SECRET_ACCESS_KEY=secret01
      - S3_USE_SSL=false
    command: go run -mod=vendor ./tools/testserver
    depends_on:
      - postgres
      - redis
      - minio
      - jaeger
      - prometheus
