{
  "openapi": "3.0.0",
  "info": {
    "title": "PACE POI API",
    "description": "POI API",
    "version": "0.0.1",
    "x-logo": {
      "url": "https://developer.pace.car/images/logo_black.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.pace.cloud/poi"
    }
  ],
  "paths": {
    "/beta/meta": {
      "get": {
        "tags": [
          "Metadata Filters"
        ],
        "operationId": "GetMetadataFilters",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations:read"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations:read"
            ]
          }
        ],
        "summary": "Query for filterable values inside a radius",
        "description": "Returns filterable values around the current location on the map, within a certain radius.\nFor the latitude and longitude values used in the request, returns the available and unavailable values for the following fields:\n\n  * brand\n\n  * payment methods\n\n  * amenities\n",
        "parameters": [
          {
            "in": "query",
            "name": "latitude",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -90,
              "maximum": 90
            },
            "required": true,
            "example": 44.41,
            "description": "Latitude in degrees"
          },
          {
            "in": "query",
            "name": "longitude",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -180,
              "maximum": 180
            },
            "required": true,
            "example": 26.11,
            "description": "Longitude in degrees"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Categories"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/gas-stations": {
      "get": {
        "tags": [
          "Gas Stations"
        ],
        "operationId": "GetGasStations",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations:read",
              "poi:gas-stations.references:read"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations:read",
              "poi:gas-stations.references:read"
            ]
          }
        ],
        "summary": "Query for gas stations",
        "description": "There are two ways to search for gas stations in a geo location. You can use either one, or none, but not both ways.\n\nTo search inside a specific radius around a given longitude and latitude provide the following query parameters:\n\n* latitude\n* longitude\n* radius\n\nTo search inside a bounding box provide the following query parameter:\n\n* boundingBox\n",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[poiType]",
            "schema": {
              "type": "string",
              "enum": [
                "gasStation"
              ]
            },
            "example": "gasStation",
            "description": "POI type you are searching for (in this case gas stations)"
          },
          {
            "in": "query",
            "name": "filter[appType]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "fueling"
                ]
              }
            },
            "description": "Search only gas stations with fueling app available",
            "example": [
              "fueling"
            ],
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "filter[latitude]",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -85,
              "maximum": 85
            },
            "required": false,
            "description": "Latitude in degrees",
            "example": 49.16
          },
          {
            "in": "query",
            "name": "filter[longitude]",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -180,
              "maximum": 180
            },
            "required": false,
            "description": "Longitude in degrees",
            "example": 8.23
          },
          {
            "in": "query",
            "name": "filter[radius]",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 0
            },
            "required": false,
            "description": "Radius in meters",
            "example": 5.4,
            "nullable": true
          },
          {
            "in": "query",
            "name": "filter[boundingBox]",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float"
              },
              "minimum": -180,
              "maximum": 180
            },
            "required": false,
            "description": "Bounding box representing left, bottom, right, top in degrees. The query parameters need to be passed 4 times in exactly the order left, bottom, right, top.\n<table> <tr><th>#</th><th>Value</th><th>Lat/Long</th><th>Range</th></tr> <tr><td>0</td><td>left</td><td>Lat</td><td>[-180..180]</td></tr> <tr><td>1</td><td>bottom</td><td>Long</td><td>[-90..90]</td></tr> <tr><td>2</td><td>right</td><td>Lat</td><td>[-180..180]</td></tr> <tr><td>3</td><td>top</td><td>Long</td><td>[-90..90]</td></tr> </table>\n",
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "compile[openingHours]",
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ],
              "nullable": true
            },
            "example": true,
            "description": "Reduces the opening hours rules. After compilation only rules with the action open will remain in the response."
          },
          {
            "in": "query",
            "name": "filter[source]",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "45dc7550-44b8-4bb5-82bd-149ee0c87e07",
            "required": false,
            "description": "Filter by source ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GasStations"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/FuelPrice"
                          },
                          {
                            "$ref": "#/components/schemas/LocationBasedApp"
                          },
                          {
                            "$ref": "#/components/schemas/ReferenceStatus"
                          }
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "type": "gasStation",
                      "id": "b86b67e9-7fae-4500-8885-45c8032056cc",
                      "attributes": {
                        "latitude": 49.013,
                        "longitude": 8.425,
                        "stationName": "PACE Station",
                        "address": {
                          "street": "Haid-und-Neu-Str.",
                          "houseNo": "18",
                          "postalCode": "76131",
                          "city": "Karlsruhe",
                          "countryCode": "DE"
                        },
                        "contact": {
                          "firstName": "Max",
                          "lastName": "Mustermann",
                          "gender": "m",
                          "email": "max.mustermann@pace.de",
                          "phoneNumber": "+49-175-5559-722",
                          "faxNumber": "+49-175-5559-723"
                        },
                        "openingHours": {
                          "timezone": "+01:00",
                          "rules": [
                            {
                              "days": [
                                "monday",
                                "tuesday",
                                "wednesday",
                                "thursday",
                                "friday"
                              ],
                              "timespans": [
                                {
                                  "from": "06:00",
                                  "to": "23:00"
                                }
                              ]
                            },
                            {
                              "days": [
                                "saturday"
                              ],
                              "timespans": [
                                {
                                  "from": "07:00",
                                  "to": "23:00"
                                }
                              ]
                            },
                            {
                              "days": [
                                "sunday"
                              ],
                              "timespans": [
                                {
                                  "from": "07:00",
                                  "to": "22:00"
                                }
                              ]
                            }
                          ]
                        },
                        "amenities": [
                          "toilet"
                        ],
                        "paymentMethods": [
                          "sepaDirectDebit"
                        ],
                        "priceFormat": "d.dds",
                        "references": [
                          "prn:psp:sites:010876234876238991"
                        ]
                      },
                      "relationships": {
                        "fuelPrices": {
                          "data": [
                            {
                              "type": "fuelPrice",
                              "id": "6b5bff6f-74e1-40a1-9da0-72305292d939"
                            },
                            {
                              "type": "fuelPrice",
                              "id": "f563e0ee-ba9a-4869-8fe7-42639fcf375d"
                            },
                            {
                              "type": "fuelPrice",
                              "id": "cb1afd35-f531-4606-abc8-e1cfbc1f96f5"
                            }
                          ]
                        },
                        "locationBasedApps": {
                          "data": [
                            {
                              "type": "locationBasedApp",
                              "id": "89a072d1-0255-4abb-b863-c463e4b78453"
                            }
                          ]
                        },
                        "referenceStatuses": {
                          "data": [
                            {
                              "type": "referenceStatus",
                              "id": "prn:psp:sites:010876234876238991"
                            }
                          ]
                        }
                      }
                    }
                  ],
                  "included": [
                    {
                      "type": "fuelPrice",
                      "id": "6b5bff6f-74e1-40a1-9da0-72305292d939",
                      "attributes": {
                        "fuelType": "ron95e5",
                        "price": 1.399,
                        "currency": "EUR",
                        "productName": "Super E5"
                      }
                    },
                    {
                      "type": "fuelPrice",
                      "id": "f563e0ee-ba9a-4869-8fe7-42639fcf375d",
                      "attributes": {
                        "fuelType": "ron95e10",
                        "price": 1.379,
                        "currency": "EUR",
                        "productName": "Super E10"
                      }
                    },
                    {
                      "type": "fuelPrice",
                      "id": "cb1afd35-f531-4606-abc8-e1cfbc1f96f5",
                      "attributes": {
                        "fuelType": "diesel",
                        "price": 1.239,
                        "currency": "EUR",
                        "productName": "Diesel"
                      }
                    },
                    {
                      "type": "locationBasedApp",
                      "id": "89a072d1-0255-4abb-b863-c463e4b78453",
                      "attributes": {
                        "appType": "fueling",
                        "title": "PACE Fueling App",
                        "subtitle": "Zahle bargeldlos mit der PACE Fueling App"
                      }
                    },
                    {
                      "type": "referenceStatus",
                      "id": "prn:psp:sites:010876234876238991",
                      "attributes": {
                        "status": "online"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/gas-stations/{id}": {
      "get": {
        "tags": [
          "Gas Stations"
        ],
        "operationId": "GetGasStation",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations:read",
              "poi:gas-stations.references:read"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations:read",
              "poi:gas-stations.references:read"
            ]
          }
        ],
        "summary": "Get a specific gas station",
        "description": "Returns an individual gas station\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "required": true,
            "description": "Gas station ID"
          },
          {
            "in": "query",
            "name": "compile[openingHours]",
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            },
            "example": true,
            "description": "Reduces the opening hours rules. After compilation, only rules with the action open will remain in the response."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Expires": {
                "description": "RFC 7234, section 5.3: Expires",
                "schema": {
                  "type": "string",
                  "example": "Wed, 21 Oct 2015 07:28:00 GMT"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GasStation"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/FuelPrice"
                          },
                          {
                            "$ref": "#/components/schemas/LocationBasedApp"
                          },
                          {
                            "$ref": "#/components/schemas/ReferenceStatus"
                          }
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "type": "gasStation",
                    "id": "b86b67e9-7fae-4500-8885-45c8032056cc",
                    "attributes": {
                      "latitude": 49.013,
                      "longitude": 8.425,
                      "stationName": "PACE Station",
                      "address": {
                        "street": "Haid-und-Neu-Str.",
                        "houseNo": "18",
                        "postalCode": "76131",
                        "city": "Karlsruhe",
                        "countryCode": "DE"
                      },
                      "contact": {
                        "firstName": "Max",
                        "lastName": "Mustermann",
                        "gender": "m",
                        "email": "max.mustermann@pace.de",
                        "phoneNumber": "+49-175-5559-722",
                        "faxNumber": "+49-175-5559-723"
                      },
                      "openingHours": {
                        "timezone": "+01:00s",
                        "rules": [
                          {
                            "days": [
                              "monday",
                              "tuesday",
                              "wednesday",
                              "thursday",
                              "friday"
                            ],
                            "timespans": [
                              {
                                "from": "06:00",
                                "to": "23:00"
                              }
                            ]
                          },
                          {
                            "days": [
                              "saturday"
                            ],
                            "timespans": [
                              {
                                "from": "07:00",
                                "to": "23:00"
                              }
                            ]
                          },
                          {
                            "days": [
                              "sunday"
                            ],
                            "timespans": [
                              {
                                "from": "07:00",
                                "to": "22:00"
                              }
                            ]
                          }
                        ]
                      },
                      "amenities": [
                        "toilet"
                      ],
                      "paymentMethods": [
                        "sepaDirectDebit"
                      ],
                      "priceFormat": "d.dds",
                      "references": [
                        "prn:psp:sites:010876234876238991"
                      ]
                    },
                    "relationships": {
                      "fuelPrices": {
                        "data": [
                          {
                            "type": "fuelPrice",
                            "id": "6b5bff6f-74e1-40a1-9da0-72305292d939"
                          },
                          {
                            "type": "fuelPrice",
                            "id": "f563e0ee-ba9a-4869-8fe7-42639fcf375d"
                          },
                          {
                            "type": "fuelPrice",
                            "id": "cb1afd35-f531-4606-abc8-e1cfbc1f96f5"
                          }
                        ]
                      },
                      "locationBasedApps": {
                        "data": [
                          {
                            "type": "locationBasedApp",
                            "id": "89a072d1-0255-4abb-b863-c463e4b78453"
                          }
                        ]
                      },
                      "referenceStatuses": {
                        "data": [
                          {
                            "type": "referenceStatus",
                            "id": "prn:psp:sites:010876234876238991"
                          }
                        ]
                      },
                      "successorOf": {
                        "data": [
                          {
                            "type": "gasStation",
                            "id": "b86b67e9-7fae-4500-8885-45c8032056cc"
                          },
                          {
                            "type": "gasStation",
                            "id": "a124aa35-8b67-2500-1113-45c8036789aa"
                          }
                        ]
                      }
                    }
                  },
                  "included": [
                    {
                      "type": "fuelPrice",
                      "id": "6b5bff6f-74e1-40a1-9da0-72305292d939",
                      "attributes": {
                        "fuelType": "ron95e5",
                        "fuelAmountUnit": "Ltr",
                        "price": 1.399,
                        "currency": "EUR",
                        "productName": "Super E5"
                      }
                    },
                    {
                      "type": "fuelPrice",
                      "id": "f563e0ee-ba9a-4869-8fe7-42639fcf375d",
                      "attributes": {
                        "fuelType": "ron95e10",
                        "fuelAmountUnit": "Ltr",
                        "price": 1.379,
                        "currency": "EUR",
                        "productName": "Super E10"
                      }
                    },
                    {
                      "type": "fuelPrice",
                      "id": "cb1afd35-f531-4606-abc8-e1cfbc1f96f5",
                      "attributes": {
                        "fuelType": "diesel",
                        "fuelAmountUnit": "Ltr",
                        "price": 1.239,
                        "currency": "EUR",
                        "productName": "Diesel"
                      }
                    },
                    {
                      "type": "locationBasedApp",
                      "id": "89a072d1-0255-4abb-b863-c463e4b78453",
                      "attributes": {
                        "appType": "fueling",
                        "title": "PACE Fueling App",
                        "subtitle": "Zahle bargeldlos mit der PACE Fueling App"
                      }
                    },
                    {
                      "type": "referenceStatus",
                      "id": "prn:psp:sites:010876234876238991",
                      "attributes": {
                        "status": "online"
                      }
                    }
                  ]
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Expired"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/gas-stations/{id}/fueltype": {
      "get": {
        "tags": [
          "Gas Stations"
        ],
        "operationId": "GetGasStationFuelTypeNameMapping",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations:read"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations:read"
            ]
          }
        ],
        "summary": "Get a mapping from gas station specific fuel product name mapped to a normalized fuel type",
        "description": "Every gas station potential has different names for the same fuel types. This endpoint accepts the gas station's specific name and return a mapping where the specific name is mapped to a normalized version which should be globally the same across gas stations.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "required": true,
            "description": "Gas station ID"
          },
          {
            "in": "query",
            "name": "filter[productName]",
            "schema": {
              "type": "string"
            },
            "example": "Super Plus",
            "required": true,
            "description": "Product Name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FuelType"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "7f558f59-b47b-4527-b9ed-b22749a51451",
                    "type": "fuelType",
                    "attributes": {
                      "productName": "Super Plus",
                      "fuelType": "ron98e5"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/gas-stations/{id}/fuel-price-histories/{fuel_type}": {
      "get": {
        "tags": [
          "Price Histories"
        ],
        "operationId": "GetPriceHistory",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations:read"
            ]
          }
        ],
        "summary": "Get price history for a specific gas station",
        "description": "Get the price history for a specific gas station and fuel type on a period of time which can begin no sooner than 37 days ago; the time interval between price changes can be set to minute, hour, day, week, month or year\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "required": true,
            "description": "Gas station ID"
          },
          {
            "in": "path",
            "name": "fuel_type",
            "schema": {
              "$ref": "#/components/schemas/Fuel"
            },
            "required": false,
            "description": "Filter after a specific fuel type"
          },
          {
            "in": "query",
            "name": "filter[from]",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filters data from the given point in time",
            "example": "2018-01-01T00:00:00"
          },
          {
            "in": "query",
            "name": "filter[to]",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filters data to the given point in time",
            "example": "2018-01-01T00:00:00"
          },
          {
            "in": "query",
            "name": "filter[granularity]",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Base time interval between price changes",
            "example": "minute"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PriceHistory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "GetSubscriptions",
        "security": [
          {
            "OAuth2": [
              "poi:subscriptions:read"
            ]
          },
          {
            "OIDC": [
              "poi:subscriptions:read"
            ]
          },
          {
            "DeviceID": []
          }
        ],
        "summary": "Get the list of POI subscriptions for the user or device\n",
        "description": "Returns a list of all current (not expired) subscriptions of the user.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          }
        }
      }
    },
    "/beta/subscriptions/{id}": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "StoreSubscription",
        "security": [
          {
            "OAuth2": [
              "poi:subscriptions:create"
            ]
          },
          {
            "OIDC": [
              "poi:subscriptions:create"
            ]
          },
          {
            "DeviceID": []
          }
        ],
        "summary": "Stores a POI subscription\n",
        "description": "Stores a POI subscription to send a push notification to the device with the specified `pushToken` once one of the pois change based on the change condition. The notification contains (max 4kb)\n```\n{\n  \"target\": \"...\"\n  \"subscription\": \"706087b4-8bca-4db9-b037-8a7ff4ce5633\",\n  \"poi\": {\n    \"id\": \"4d6dd9db-b0ac-40e8-a099-b606cace6f72\", # poi ID\n    \"type\": \"gasStation\",\n    \"attributes\": {\n      # ... more data of the type\n    }\n  }\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "DeleteSubscription",
        "security": [
          {
            "OAuth2": [
              "poi:subscriptions:delete"
            ]
          },
          {
            "OIDC": [
              "poi:subscriptions:delete"
            ]
          },
          {
            "DeviceID": []
          }
        ],
        "summary": "Deletes a previously created POI subscription\n",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tiles/query": {
      "post": {
        "tags": [
          "Tiles"
        ],
        "operationId": "GetTiles",
        "security": [
          {
            "OAuth2": [
              "poi:tiles:read"
            ]
          },
          {
            "OIDC": [
              "poi:tiles:read"
            ]
          }
        ],
        "summary": "Query for tiles\n",
        "description": "Get a list of map tiles in the Protobuf binary wire format.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/protobuf": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Protobuf binary wire format of the following definition\n```\nsyntax = \"proto3\";\n\nmessage TileQueryRequest {\n  uint32 zoom = 1;\n  repeated AreaQuery areas = 2;\n  repeated IndividualTileQuery tiles = 3;\n}\n\nmessage AreaQuery {\n  // if NE(1,1) + SW(1,1) == { tile(1,1) }\n  // if NE(2,1) + SW(1,2) == { tile(1,1), tile(2,1), tile(1,2), tile(2,2) }\n  Coordinate north_east = 1;\n  Coordinate south_west = 2;\n  uint64 invalidation_token = 3; // e.g. timestamp or sequence number\n}\n\nmessage IndividualTileQuery {\n  Coordinate geo = 1;\n  uint64 invalidation_token = 3; // e.g. timestamp or sequence number\n}\n\nmessage Coordinate {\n  uint32 x = 1; // tile coordinate\n  uint32 y = 2; // tile coordinate\n}\n```\n",
                "x-protobuf-definition": {
                  "version": "proto3",
                  "messages": {
                    "TileQueryRequest": {
                      "fields": {
                        "zoom": {
                          "field-type": "uint32",
                          "field-number": 1
                        },
                        "areas": {
                          "field-type": "AreaQuery",
                          "field-number": 2,
                          "field-rule": "repeated"
                        },
                        "tiles": {
                          "field-type": "IndividualTileQuery",
                          "field-number": 3,
                          "field-rule": "repeated"
                        }
                      }
                    },
                    "AreaQuery": {
                      "fields": {
                        "north_east": {
                          "field-type": "Coordinate",
                          "field-number": 1
                        },
                        "south_west": {
                          "field-type": "Coordinate",
                          "field-number": 2
                        },
                        "invalidation_token": {
                          "field-type": "uint64",
                          "field-number": 3
                        }
                      }
                    },
                    "IndividualTileQuery": {
                      "fields": {
                        "geo": {
                          "field-type": "Coordinate",
                          "field-number": 1
                        },
                        "invalidation_token": {
                          "field-type": "uint64",
                          "field-number": 3
                        }
                      }
                    },
                    "Coordinate": {
                      "fields": {
                        "x": {
                          "field-type": "uint32",
                          "field-number": 1
                        },
                        "y": {
                          "field-type": "uint32",
                          "field-number": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/protobuf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Protobuf binary wire format of the following definition\n```\nsyntax = \"proto3\";\n\nmessage TileQueryResponse {\n  uint32 zoom = 1;\n  repeated VectorTile vector_tiles = 2;\n  uint64 invalidation_token = 3;              // e.g. timestamp or sequence number\n  repeated Coordinate unavailable_tiles = 4;  // tile(s) couldn't be generated due to server issues\n}\n\nmessage VectorTile {\n  Coordinate geo = 1;\n  bytes vector_tiles = 3;\n}\n\nmessage Coordinate {\n  uint32 x = 1; // tile coordinate\n  uint32 y = 2; // tile coordinate\n}\n\n```\n",
                  "x-protobuf-definition": {
                    "version": "proto3",
                    "messages": {
                      "TileQueryResponse": {
                        "fields": {
                          "zoom": {
                            "field-type": "uint32",
                            "field-number": 1
                          },
                          "vector_tiles": {
                            "field-type": "VectorTile",
                            "field-number": 2,
                            "field-rule": "repeated"
                          },
                          "invalidation_token": {
                            "field-type": "uint64",
                            "field-number": 3
                          },
                          "unavailable_tiles": {
                            "field-type": "Coordinate",
                            "field-number": 4,
                            "field-rule": "repeated"
                          }
                        }
                      },
                      "VectorTile": {
                        "geo": {
                          "field-type": "Coordinate",
                          "field-number": 1
                        },
                        "vector_tiles": {
                          "field-type": "bytes",
                          "field-number": 3
                        }
                      },
                      "Coordinate": {
                        "fields": {
                          "x": {
                            "field-type": "uint32",
                            "field-number": 1
                          },
                          "y": {
                            "field-type": "uint32",
                            "field-number": 2
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "operationId": "CreateSource",
        "security": [
          {
            "OAuth2": [
              "poi:sources:create"
            ]
          },
          {
            "OIDC": [
              "poi:sources:create"
            ]
          }
        ],
        "summary": "Creates a new source",
        "description": "Creates a new source",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Source"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Source"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "GetSources",
        "security": [
          {
            "OAuth2": [
              "poi:sources:read"
            ]
          },
          {
            "OIDC": [
              "poi:sources:read"
            ]
          }
        ],
        "summary": "Returns a paginated list of sources",
        "description": "Returns a paginated list of sources optionally filtered by poi type and/or name",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[poiType]",
            "schema": {
              "$ref": "#/components/schemas/POIType"
            },
            "description": "Filter for poi type, no filter returns all types"
          },
          {
            "in": "query",
            "name": "filter[name]",
            "schema": {
              "type": "string"
            },
            "description": "Filter for all sources with given source name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Sources"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/sources/{sourceId}": {
      "put": {
        "tags": [
          "Sources"
        ],
        "operationId": "UpdateSource",
        "security": [
          {
            "OAuth2": [
              "poi:sources:update"
            ]
          },
          {
            "OIDC": [
              "poi:sources:update"
            ]
          }
        ],
        "summary": "Updates source with specified id",
        "description": "Updates source with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "sourceId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the source"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Source"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Source"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "GetSource",
        "security": [
          {
            "OAuth2": [
              "poi:sources:read"
            ]
          },
          {
            "OIDC": [
              "poi:sources:read"
            ]
          }
        ],
        "summary": "Returns source with specified id",
        "description": "Returns source with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "sourceId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the source"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Source"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "operationId": "DeleteSource",
        "security": [
          {
            "OAuth2": [
              "poi:sources:delete"
            ]
          },
          {
            "OIDC": [
              "poi:sources:delete"
            ]
          }
        ],
        "summary": "Deletes source with specified id",
        "description": "Deletes source with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "sourceId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the source"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "GetPolicies",
        "security": [
          {
            "OAuth2": [
              "poi:policies:read"
            ]
          },
          {
            "OIDC": [
              "poi:policies:read"
            ]
          }
        ],
        "summary": "Returns a paginated list of policies",
        "description": "Returns a paginated list of policies optionally filtered by poi type and/or country id and/or user id",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[poiType]",
            "schema": {
              "$ref": "#/components/schemas/POIType"
            },
            "description": "Filter for poi type, no filter returns all types"
          },
          {
            "in": "query",
            "name": "filter[countryId]",
            "schema": {
              "type": "string"
            },
            "example": "de",
            "description": "Filter for all policies for the given country"
          },
          {
            "in": "query",
            "name": "filter[userId]",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "Filter for all policies created by the given user"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policies"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "CreatePolicy",
        "security": [
          {
            "OAuth2": [
              "poi:policies:create"
            ]
          },
          {
            "OIDC": [
              "poi:policies:create"
            ]
          }
        ],
        "summary": "Creates a new policy",
        "description": "Creates a new policy",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Policy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/policies/{policyId}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "GetPolicy",
        "security": [
          {
            "OAuth2": [
              "poi:policies:read"
            ]
          },
          {
            "OIDC": [
              "poi:policies:read"
            ]
          }
        ],
        "summary": "Returns policy with specified id",
        "description": "Returns policy with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the policy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "GetEvents",
        "security": [
          {
            "OAuth2": [
              "poi:events:read"
            ]
          },
          {
            "OIDC": [
              "poi:events:read"
            ]
          }
        ],
        "summary": "Returns a list of events",
        "description": "Returns a list of events optionally filtered by poi type and/or country id and/or user id",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[sourceId]",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "Filter for all events from given source id"
          },
          {
            "in": "query",
            "name": "filter[userId]",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "Filter for all events for the changes made by a given user"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Events"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/pois": {
      "get": {
        "tags": [
          "POI"
        ],
        "operationId": "GetPois",
        "security": [
          {
            "OAuth2": [
              "poi:pois:read",
              "poi:pois.references:read"
            ]
          },
          {
            "OIDC": [
              "poi:pois:read",
              "poi:pois.references:read"
            ]
          }
        ],
        "summary": "Returns a paginated list of POIs",
        "description": "Returns a paginated list of POIs optionally filtered by type, appId and/or query",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[poiType]",
            "schema": {
              "$ref": "#/components/schemas/POIType"
            },
            "description": "Filter for poi type, no filter returns all types"
          },
          {
            "in": "query",
            "name": "filter[appId]",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "Filter id for app id, no filter returns pois for all apps"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/POIs"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ReferenceStatus"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/pois/{poiId}": {
      "get": {
        "tags": [
          "POI"
        ],
        "operationId": "GetPoi",
        "security": [
          {
            "OAuth2": [
              "poi:pois:read",
              "poi:pois.references:read"
            ]
          },
          {
            "OIDC": [
              "poi:pois:read",
              "poi:pois.references:read"
            ]
          }
        ],
        "summary": "Returns POI with specified id",
        "description": "Returns POI with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "poiId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the POI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Expires": {
                "description": "RFC 7234, section 5.3: Expires",
                "schema": {
                  "type": "string",
                  "example": "Wed, 21 Oct 2015 07:28:00 GMT"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/POI"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ReferenceStatus"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "301": {
            "$ref": "#/components/responses/MovedPermanently"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "410": {
            "$ref": "#/components/responses/Expired"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "POI"
        ],
        "operationId": "ChangePoi",
        "security": [
          {
            "OAuth2": [
              "poi:pois:update"
            ]
          },
          {
            "OIDC": [
              "poi:pois:update"
            ]
          }
        ],
        "summary": "Updates POI with specified id (only passed attributes will be updated)",
        "description": "Returns POI with specified id (only passed attributes will be updated)",
        "parameters": [
          {
            "in": "path",
            "name": "poiId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the POI"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/POI"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/POI"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/apps/query": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "CheckForPaceApp",
        "security": [
          {
            "OAuth2": [
              "poi:apps:read"
            ]
          },
          {
            "OIDC": [
              "poi:apps:read"
            ]
          }
        ],
        "summary": "Query for location-based apps\n",
        "description": "These location-based PACE apps deliver additional services for PACE customers based on their current position.\nYou can (or should) trigger this whenever:\n* A longer stand-still is detected\n* The engine is turned off\n* Every 5 seconds if the user \"left the road\"\n\nPlease note that calling this API is very cheap and can be done regularly.\n",
        "parameters": [
          {
            "in": "query",
            "name": "filter[latitude]",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": true,
            "description": "Latitude",
            "example": 48.123
          },
          {
            "in": "query",
            "name": "filter[longitude]",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": true,
            "description": "Longitude",
            "example": 9.456
          },
          {
            "in": "query",
            "name": "filter[appType]",
            "schema": {
              "type": "string",
              "enum": [
                "fueling"
              ]
            },
            "description": "Type of location-based app"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationBasedAppsWithRefs"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApps",
        "security": [
          {
            "OAuth2": [
              "poi:apps:read"
            ]
          },
          {
            "OIDC": [
              "poi:apps:read"
            ]
          }
        ],
        "summary": "Returns a paginated list of apps",
        "description": "Returns a paginated list of apps optionally filtered by type and/or query.\n",
        "parameters": [
          {
            "in": "query",
            "name": "page[number]",
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "page number"
          },
          {
            "in": "query",
            "name": "page[size]",
            "schema": {
              "type": "integer"
            },
            "example": 50,
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "filter[appType]",
            "schema": {
              "type": "string",
              "enum": [
                "fueling"
              ]
            },
            "description": "Filter for poi type, no filter returns all types"
          },
          {
            "in": "query",
            "description": "Filters the location-based app by its caching method.\n",
            "name": "filter[cache]",
            "schema": {
              "type": "string",
              "enum": [
                "preload",
                "approaching"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter[since]",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filters location-based apps that were changed (created/updated/deleted) since the given point in time",
            "example": "2018-01-01T00:00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationBasedApps"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "CreateApp",
        "security": [
          {
            "OAuth2": [
              "poi:apps:create"
            ]
          },
          {
            "OIDC": [
              "poi:apps:create"
            ]
          }
        ],
        "summary": "Creates a new application",
        "description": "Creates a new application",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/LocationBasedApp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationBasedApp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/apps/{appID}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApp",
        "security": [
          {
            "OAuth2": [
              "poi:apps:read"
            ]
          },
          {
            "OIDC": [
              "poi:apps:read"
            ]
          }
        ],
        "summary": "Returns App with specified id",
        "description": "Returns App with specified id.\nIn case the query returns a `404` (`Not Found`) the app was deleted and should be deleted from any caches.\n",
        "parameters": [
          {
            "in": "path",
            "name": "appID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the App"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationBasedApp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Apps"
        ],
        "operationId": "UpdateApp",
        "security": [
          {
            "OAuth2": [
              "poi:apps:update"
            ]
          },
          {
            "OIDC": [
              "poi:apps:update"
            ]
          }
        ],
        "summary": "Updates App with specified id",
        "description": "Updates App with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "appID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the App"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/LocationBasedApp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationBasedApp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "operationId": "DeleteApp",
        "security": [
          {
            "OAuth2": [
              "poi:apps:delete"
            ]
          },
          {
            "OIDC": [
              "poi:apps:delete"
            ]
          }
        ],
        "summary": "Deletes App with specified id",
        "description": "Deletes App with specified id",
        "parameters": [
          {
            "in": "path",
            "name": "appID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the App"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/apps/{appID}/relationships/pois": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppPOIsRelationships",
        "security": [
          {
            "OAuth2": [
              "poi:apps:read"
            ]
          },
          {
            "OIDC": [
              "poi:apps:read"
            ]
          }
        ],
        "summary": "Returns all POI relations for specified app id",
        "description": "Returns all POI relations for specified app id",
        "parameters": [
          {
            "in": "path",
            "name": "appID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the App"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AppPOIsRelationships"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "operationId": "UpdateAppPOIsRelationships",
        "security": [
          {
            "OAuth2": [
              "poi:apps:update"
            ]
          },
          {
            "OIDC": [
              "poi:apps:update"
            ]
          }
        ],
        "summary": "Update all POI relations for specified app id",
        "description": "Update all POI relations for specified app id",
        "parameters": [
          {
            "in": "path",
            "name": "appID",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "description": "ID of the App"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/AppPOIsRelationships"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AppPOIsRelationships"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/datadumps/pois": {
      "get": {
        "tags": [
          "Data Dumps"
        ],
        "operationId": "GetPoisDump",
        "security": [
          {
            "OAuth2": [
              "poi:dumps:pois"
            ]
          },
          {
            "OIDC": [
              "poi:dumps:pois"
            ]
          }
        ],
        "summary": "Create a full POI dump\n",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              ]
            },
            "required": true
          }
        ],
        "description": "Dump all POI data in XLSX format, along with full amenities.\n",
        "responses": {
          "200": {
            "description": "XLSX POI Report",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/datadumps/duplicatemap/{countryCode}": {
      "get": {
        "tags": [
          "Data Dumps"
        ],
        "operationId": "GetDuplicatesKML",
        "security": [
          {
            "OAuth2": [
              "poi:dumps:duplicatemap"
            ]
          },
          {
            "OIDC": [
              "poi:dumps:duplicatemap"
            ]
          }
        ],
        "summary": "Duplicate Map for country (KML)",
        "description": "Generates a map of potential gas station duplicates (closer than 50m to eachother) for specified country.",
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "schema": {
              "type": "string"
            },
            "example": "DE",
            "description": "Country code in ISO 3166-1 alpha-2 format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.google-earth.kml+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/delivery/gas-stations/{gasStationId}/reference-status/{reference}": {
      "put": {
        "tags": [
          "Delivery"
        ],
        "operationId": "PutGasStationReferenceStatus",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations.references:update"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations.references:update"
            ]
          }
        ],
        "summary": "Creates or updates a reference status of a gas station",
        "description": "Creates or updates a reference status of a gas station",
        "parameters": [
          {
            "in": "path",
            "name": "gasStationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "required": true,
            "description": "Gas station ID"
          },
          {
            "in": "path",
            "name": "reference",
            "schema": {
              "type": "string"
            },
            "example": "prn:psp:sites:010876234876238991",
            "required": true,
            "description": "Service Provider PRN"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ReferenceStatus"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Delivery"
        ],
        "operationId": "DeleteGasStationReferenceStatus",
        "security": [
          {
            "OAuth2": [
              "poi:gas-stations.references:update"
            ]
          },
          {
            "OIDC": [
              "poi:gas-stations.references:update"
            ]
          }
        ],
        "summary": "Deletes a reference status of a gas station",
        "description": "Deletes a reference status of a gas station",
        "parameters": [
          {
            "in": "path",
            "name": "gasStationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be83d-a68d-41e3-9467-eb60442ff27b",
            "required": true,
            "description": "Gas station ID"
          },
          {
            "in": "path",
            "name": "reference",
            "schema": {
              "type": "string"
            },
            "example": "prn:psp:sites:010876234876238991",
            "required": true,
            "description": "Service Provider PRN"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/prices/regional": {
      "get": {
        "tags": [
          "Prices"
        ],
        "operationId": "GetRegionalPrices",
        "summary": "Search for regional prices in the area",
        "description": "Search for regional prices in the area centered at input latitude/longitude. Lower/Upper limits are set for each fuel type returned.\n",
        "parameters": [
          {
            "in": "query",
            "name": "filter[latitude]",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -85,
              "maximum": 85
            },
            "required": true,
            "description": "Latitude in degrees",
            "example": 49.16
          },
          {
            "in": "query",
            "name": "filter[longitude]",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": -180,
              "maximum": 180
            },
            "required": true,
            "description": "Longitude in degrees",
            "example": 8.23
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionalPrices"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/admin/poi/dedupe": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "operationId": "DeduplicatePoi",
        "security": [
          {
            "OAuth2": [
              "poi:pois:update"
            ]
          },
          {
            "OIDC": [
              "poi:pois:update"
            ]
          }
        ],
        "summary": "Specify if a list of POI are considered to be duplicates of a specific POI",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/DedupeRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/admin/poi/move": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "operationId": "MovePoiAtPosition",
        "security": [
          {
            "OAuth2": [
              "poi:pois:update"
            ]
          },
          {
            "OIDC": [
              "poi:pois:update"
            ]
          }
        ],
        "summary": "Allows an admin to move a POI identified by its ID to a specific position",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/MoveRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PriceHistory": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "priceHistory"
            ]
          },
          "id": {
            "type": "string",
            "description": "Fuel Type",
            "example": "ron95e5"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date-time",
                "example": "2018-01-01T00:00:00",
                "description": "Beginning of time interval"
              },
              "to": {
                "type": "string",
                "format": "date-time",
                "example": "2018-01-01T00:00:00",
                "description": "End of time interval"
              },
              "productName": {
                "type": "string",
                "example": "Super E5"
              },
              "currency": {
                "$ref": "#/components/schemas/currency"
              },
              "fuelPrices": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2018-01-01T00:00:00",
                      "description": "The datetime of the price value"
                    },
                    "price": {
                      "type": "number",
                      "format": "decimal",
                      "example": 1.449,
                      "description": "The price at this point in time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "subscription"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "POI Subscription ID",
            "example": "706087b4-8bca-4db9-b037-8a7ff4ce5633"
          },
          "attributes": {
            "type": "object",
            "required": [
              "observedPois",
              "pushToken"
            ],
            "properties": {
              "createdAt": {
[...]
